@{
    ViewData["Title"] = "Home";
}

<div class="text-center bg-warning">
    <h1 class="display-4">Welcome To <br /><b>Kate's Restaurant</b></h1>
    <br />
    <p style="color:red">Here you can taste delicious dishes <br />of italian and multietnical cuisines</p>
</div>
